/*================================================
Default CSS
=================================================*/
:root {
  --main-color: #2caac1;
  --white-color: #ffffff;
  --black-color: #000000;
}

.switch-box {
  position: fixed;
  z-index: 1;
  right: 95px;
  bottom: 45px;
}

.switch-box .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-box .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-box .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--main-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-box .slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 2.5px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0px 15px #2020203d;
          box-shadow: 0 0px 15px #2020203d;
  background: var(--black-color);
  background-repeat: no-repeat;
  background-position: center;
}

.switch-box input:checked + .slider {
  background-color: var(--main-color);
}

.switch-box input:focus + .slider {
  -webkit-box-shadow: 0 0 1px --main-color;
          box-shadow: 0 0 1px --main-color;
}

.switch-box input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
  background: var(--white-color);
  background-repeat: no-repeat;
  background-position: center;
}

.switch-box .slider.round {
  border-radius: 50px;
}

.switch-box .slider.round:before {
  border-radius: 50%;
}

.theme-light .black-logo {
  display: block;
}

.theme-light .white-logo {
  display: none;
}

.theme-dark {
  /*Start "Home Demo - 4", "Home Demo - 5" & "Home Demo - 6" Dark CSS*/
  /*End "Home Demo - 4", "Home Demo - 5" & "Home Demo - 6" Dark CSS*/
}

.theme-dark .black-logo {
  display: none;
}

.theme-dark .white-logo {
  display: block;
}

.theme-dark body {
  background-color: var(--black-color);
  color: #f1f1f1;
}

.theme-dark p {
  color: #f1f1f1;
}

.theme-dark p a {
  color: #f1f1f1 !important;
}

.theme-dark p a:hover {
  color: var(--main-color) !important;
}

.theme-dark .h1, .theme-dark .h2, .theme-dark .h3, .theme-dark .h4, .theme-dark .h5, .theme-dark .h6, .theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark h6 {
  color: var(--white-color) !important;
}

.theme-dark .h1 a, .theme-dark .h2 a, .theme-dark .h3 a, .theme-dark .h4 a, .theme-dark .h5 a, .theme-dark .h6 a, .theme-dark h1 a, .theme-dark h2 a, .theme-dark h3 a, .theme-dark h4 a, .theme-dark h5 a, .theme-dark h6 a {
  color: var(--white-color) !important;
}

.theme-dark .h1 a:hover, .theme-dark .h2 a:hover, .theme-dark .h3 a:hover, .theme-dark .h4 a:hover, .theme-dark .h5 a:hover, .theme-dark .h6 a:hover, .theme-dark h1 a:hover, .theme-dark h2 a:hover, .theme-dark h3 a:hover, .theme-dark h4 a:hover, .theme-dark h5 a:hover, .theme-dark h6 a:hover {
  color: var(--main-color) !important;
}

.theme-dark .main-navbar::before {
  border-bottom: 1px solid var(--black-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item:hover a, .theme-dark .main-navbar .navbar .navbar-nav .nav-item.active a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: #0e0e0e;
  border: 1px solid var(--black-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .others-options .option-item .phone-number {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .others-options .option-item .phone-number:hover {
  color: var(--optional-color);
}

.theme-dark .navbar-area.is-sticky {
  background-color: #0e0e0e !important;
}

.theme-dark .navbar-style-two .main-navbar {
  border-bottom: 1px solid var(--black-color);
}

.theme-dark .navbar-style-two .main-navbar .navbar .others-options .option-item .phone-number {
  color: var(--white-color);
}

.theme-dark .navbar-style-two .main-navbar .navbar .others-options .option-item .phone-number:hover {
  color: var(--main-color);
}

.theme-dark .navbar-style-two .main-navbar .navbar .others-options .option-item .cart-btn i {
  color: var(--white-color);
}

.theme-dark .navbar-style-two .main-navbar .navbar .others-options .option-item .cart-btn i:hover {
  color: var(--main-color);
}

.theme-dark .navbar-style-two .main-navbar .navbar .others-options .option-item .search-box i {
  color: var(--white-color);
}

.theme-dark .navbar-style-two .main-navbar .navbar .others-options .option-item .search-box i:hover {
  color: var(--main-color);
}

.theme-dark .navbar-border-bottom-color .main-navbar {
  border-bottom: 1px solid var(--black-color);
}

.theme-dark .navbar-border-bottom-color .main-navbar .navbar .others-options .option-item .phone-number {
  color: var(--white-color);
}

.theme-dark .navbar-border-bottom-color .main-navbar .navbar .others-options .option-item .phone-number:hover {
  color: var(--main-color);
}

.theme-dark .navbar-border-bottom-color .main-navbar .navbar .others-options .option-item .cart-btn i {
  color: var(--white-color);
}

.theme-dark .navbar-border-bottom-color .main-navbar .navbar .others-options .option-item .cart-btn i:hover {
  color: var(--main-color);
}

.theme-dark .navbar-border-bottom-color .main-navbar .navbar .others-options .option-item .search-box i {
  color: var(--white-color);
}

.theme-dark .navbar-border-bottom-color .main-navbar .navbar .others-options .option-item .search-box i:hover {
  color: var(--main-color);
}

.theme-dark .navbar-with-white-color .main-navbar .navbar .others-options .option-item .phone-number {
  color: var(--white-color);
}

.theme-dark .navbar-with-white-color .main-navbar .navbar .others-options .option-item .phone-number:hover {
  color: var(--main-color);
}

.theme-dark .navbar-with-white-color .main-navbar .navbar .others-options .option-item .cart-btn i {
  color: var(--white-color);
}

.theme-dark .navbar-with-white-color .main-navbar .navbar .others-options .option-item .cart-btn i:hover {
  color: var(--main-color);
}

.theme-dark .navbar-with-white-color .main-navbar .navbar .others-options .option-item .search-box i {
  color: var(--white-color);
}

.theme-dark .navbar-with-white-color .main-navbar .navbar .others-options .option-item .search-box i:hover {
  color: var(--main-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search {
  color: var(--white-color);
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .search-overlay .search-overlay-form form .input-search::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search::placeholder {
  color: var(--white-color);
}

.theme-dark .search-overlay .search-overlay-form form .input-search:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .search-overlay .search-overlay-form form .input-search:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .search-overlay .search-overlay-form form .input-search:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .search-overlay .search-overlay-form form .input-search:focus::placeholder {
  color: transparent;
}

.theme-dark .main-banner-area {
  background-color: #0e0e0e;
}

.theme-dark .main-banner-area::before {
  background-color: var(--black-color);
}

.theme-dark .main-banner-content .banner-btn .video-btn {
  color: var(--white-color);
}

.theme-dark .main-banner-content .banner-btn .video-btn:hover {
  color: var(--main-color);
}

.theme-dark .banner-fun-fact-item .banner-fun-fact {
  background-color: #0e0e0e;
}

.theme-dark .single-funfact-card .icon i {
  color: var(--white-color);
}

.theme-dark .single-funfact-card h3::before {
  background-color: #0e0e0e;
}

.theme-dark .single-funfact-card h3 .small-text {
  color: var(--white-color);
}

.theme-dark .services-area.bg-fdfaf7 {
  background-color: #0e0e0e;
}

.theme-dark .single-services-card {
  background-color: var(--black-color);
}

.theme-dark .single-services-card.bg-f8f8f8 {
  background-color: #0e0e0e;
}

.theme-dark .single-services-card .services-btn {
  color: var(--white-color);
}

.theme-dark .single-services-card:hover .services-btn {
  color: var(--main-color);
}

.theme-dark .about-area::before {
  background-color: #0e0e0e;
}

.theme-dark .pricing-area.bg-fdfaf7 {
  background-color: #0e0e0e;
}

.theme-dark .pricing-list-tabs .nav .nav-item .nav-link {
  background-color: var(--black-color);
  color: var(--white-color);
}

.theme-dark .pricing-list-tabs .nav .nav-item .nav-link .price {
  color: var(--white-color);
}

.theme-dark .pricing-list-tabs .nav .nav-item .nav-link .price span {
  color: var(--white-color);
}

.theme-dark .pricing-list-tabs .nav .nav-item .nav-link.active {
  background-color: var(--main-color);
  color: var(--white-color);
}

.theme-dark .pricing-list-tabs .nav .nav-item .nav-link.active .price {
  color: var(--white-color);
}

.theme-dark .pricing-list-tabs .nav .nav-item .nav-link.active .price span {
  color: var(--white-color);
}

.theme-dark .pricing-list-tabs .nav .nav-item .nav-link.active::before {
  border: 1px solid var(--black-color);
  background-color: var(--black-color);
}

.theme-dark .pricing-list-tabs .nav .nav-item .nav-link.active::after {
  opacity: 1;
  visibility: visible;
}

.theme-dark .pricing-list-tabs .tab-content .tab-pane {
  background-color: var(--black-color);
}

.theme-dark .pricing-list-tabs .tab-content .tab-pane .tab .tabs-color {
  background-color: #0e0e0e;
}

.theme-dark .pricing-list-tabs .tab-content .tab-pane .tab .tabs li {
  color: var(--white-color);
}

.theme-dark .pricing-list-tabs .tab-content .tab-pane .tab .tabs li.current {
  background-color: var(--white-color);
  color: var(--main-color);
}

.theme-dark .pricing-list-tabs .tab-content .tab-pane .tab .tabs li.current .monthly {
  color: var(--main-color);
}

.theme-dark .pricing-list-tabs .tab-content .tab-pane .tab .tabs li.current .yearly {
  color: var(--main-color);
}

.theme-dark .pricing-list-tabs .tab-content .tab-pane .tab .tabs .monthly {
  color: var(--white-color);
}

.theme-dark .pricing-list-tabs .tab-content .tab-pane .tab .tabs .yearly {
  color: var(--white-color);
}

.theme-dark .pricing-list-tabs .tab-content .tab-pane .pricing-features-card .features-list li {
  color: var(--white-color);
}

.theme-dark .single-pricing-table {
  background-color: #0e0e0e;
}

.theme-dark .single-pricing-table .pricing-header span {
  color: var(--white-color);
}

.theme-dark .single-pricing-table .price {
  color: var(--white-color);
}

.theme-dark .single-pricing-table .price span {
  color: var(--white-color);
}

.theme-dark .single-pricing-table .price::before {
  opacity: 10%;
}

.theme-dark .single-pricing-table .features-list li {
  color: var(--white-color);
}

.theme-dark .single-pricing-table:hover {
  background-color: #0e0e0e;
}

.theme-dark .testimonials-area.bg-f9f9f9 {
  background-color: #0e0e0e;
}

.theme-dark .single-testimonials-card {
  background-color: var(--black-color);
  border: 1px solid #0e0e0e;
}

.theme-dark .single-testimonials-card .info span {
  color: var(--white-color);
}

.theme-dark .blog-area.bg-fdfaf7 {
  background-color: #0e0e0e;
}

.theme-dark .single-blog-card .post-content .entry-meta li {
  color: var(--white-color);
}

.theme-dark .newsletter-form .form-group .input-newsletter {
  background-color: #0e0e0e;
  color: var(--white-color);
}

.theme-dark .newsletter-form .form-group .input-newsletter::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .newsletter-form .form-group .input-newsletter:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .newsletter-form .form-group .input-newsletter::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .newsletter-form .form-group .input-newsletter::placeholder {
  color: var(--white-color);
}

.theme-dark .newsletter-form .form-group .input-newsletter:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .newsletter-form .form-group .input-newsletter:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .newsletter-form .form-group .input-newsletter:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .newsletter-form .form-group .input-newsletter:focus::placeholder {
  color: transparent;
}

.theme-dark .footer-area {
  background-color: #0e0e0e;
}

.theme-dark .footer-top-box {
  border-bottom: 1px solid var(--black-color);
}

.theme-dark .footer-top-box .footer-widget-social li a i {
  color: var(--white-color);
}

.theme-dark .footer-top-box .footer-widget-social li a i:hover {
  color: var(--main-color);
}

.theme-dark .single-footer-widget .widget-info span {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .quick-links li {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .quick-links li a {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .quick-links li a:hover {
  color: var(--main-color);
}

.theme-dark .single-footer-widget .quick-links li span {
  color: var(--main-color);
}

.theme-dark .single-footer-widget .footer-information span {
  color: var(--main-color);
}

.theme-dark .single-footer-widget .footer-information a {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .footer-information a:hover {
  color: var(--main-color);
}

.theme-dark .copyright-area .copyright-area-content {
  border-top: 1px solid var(--black-color);
}

.theme-dark .main-banner-area-with-years {
  background: -webkit-gradient(linear, left top, right top, from(#0e0e0e), color-stop(#000000), color-stop(#0e0e0e), color-stop(#000000), to(#0e0e0e));
  background: linear-gradient(to right, #0e0e0e, #000000, #0e0e0e, #000000, #0e0e0e);
}

.theme-dark .about-area-with-bg-color {
  background-color: #0e0e0e;
}

.theme-dark .services-area.bg-fefbf3 {
  background-color: #0e0e0e;
}

.theme-dark .choose-us-image .square-pattern {
  background: #0e0e0e;
}

.theme-dark .funfact-area.bg-f9f3eb {
  background-color: #0e0e0e;
}

.theme-dark .single-funfact-box h3 {
  color: var(--black-color) !important;
}

.theme-dark .single-funfact-box h3 .small-text {
  color: var(--main-color);
}

.theme-dark .single-funfact-box::before {
  background-color: var(--black-color);
}

.theme-dark .shop-list-tabs .nav .nav-item .nav-link {
  color: var(--white-color);
}

.theme-dark .shop-list-tabs .nav .nav-item .nav-link:hover, .theme-dark .shop-list-tabs .nav .nav-item .nav-link.active {
  color: var(--main-color);
}

.theme-dark .single-shop-card .shop-image a img {
  display: inline-block;
}

.theme-dark .single-shop-card .shop-content span {
  color: var(--white-color);
}

.theme-dark .testimonials-area.bg-f4fbf9 {
  background-color: #0e0e0e;
}

.theme-dark .main-banner-area-wrap {
  background-color: #0e0e0e;
}

.theme-dark .about-area.bg-f4fbf9 {
  background-color: #0e0e0e;
}

.theme-dark .choose-us-area.bg-fafcf5 {
  background-color: #0e0e0e;
}

.theme-dark .testimonials-area.bg-f9f3eb {
  background-color: #0e0e0e;
}

.theme-dark .single-testimonials-box-card .info span {
  color: var(--white-color);
}

.theme-dark .blog-area.bg-color {
  background-color: var(--black-color);
  border-bottom: 1px solid #0e0e0e;
  border-top: 1px solid #0e0e0e;
}

.theme-dark .blog-item-left-box {
  background-color: #0e0e0e;
}

.theme-dark .blog-item-left-box .post-content .entry-meta li {
  color: var(--white-color);
}

.theme-dark .blog-item-right-box .item .info span {
  color: var(--white-color);
}

.theme-dark .page-banner-area {
  background-color: #0e0e0e;
}

.theme-dark .page-banner-content ul li {
  color: var(--white-color);
}

.theme-dark .page-banner-content ul li a {
  color: var(--white-color);
}

.theme-dark .page-banner-content ul li a:hover {
  color: var(--main-color);
}

.theme-dark .choose-us-area.bg-fefbf3 {
  background-color: #0e0e0e;
  border-bottom: 1px solid var(--black-color);
}

.theme-dark .services-details-desc .services-desc-content .services-desc-accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.theme-dark .services-details-desc .services-desc-content .services-desc-accordion .accordion-item .accordion-button {
  color: var(--white-color);
}

.theme-dark .services-details-desc .services-desc-content .services-desc-accordion .accordion-item .accordion-button:not(.collapsed) {
  color: var(--main-color);
}

.theme-dark .services-details-desc .services-desc-content .services-desc-accordion .accordion-item .accordion-body p a {
  color: var(--main-color);
}

.theme-dark .services-details-desc .services-desc-content .services-desc-accordion .accordion-item .accordion-body p strong {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search {
  background-color: #0e0e0e;
}

.theme-dark .widget-area .widget_search form .search-field {
  background-color: var(--black-color);
  border: 1px solid var(--black-color);
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field::placeholder {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_search form .search-field:focus {
  border-color: var(--main-color);
}

.theme-dark .widget-area .widget_search form .search-field:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .widget-area .widget_search form .search-field:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .widget-area .widget_search form .search-field:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .widget-area .widget_search form .search-field:focus::placeholder {
  color: transparent;
}

.theme-dark .widget-area .widget_service_categories {
  background-color: #0e0e0e;
}

.theme-dark .widget-area .widget_service_categories .categories-list li a {
  background-color: var(--black-color);
  color: var(--white-color);
}

.theme-dark .widget-area .widget_service_categories .categories-list li a:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.theme-dark .widget-area .widget_service_categories .categories-list li a:hover i {
  color: var(--white-color);
  opacity: 1;
  visibility: visible;
}

.theme-dark .widget-area .widget_download_brochures {
  background-color: #0e0e0e;
}

.theme-dark .widget-area .widget_download_brochures .download-brochures-list li a {
  background-color: var(--black-color);
  color: var(--white-color);
}

.theme-dark .widget-area .widget_download_brochures .download-brochures-list li a:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.theme-dark .widget-area .widget_download_brochures .download-brochures-list li a:hover i {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_drove_posts_thumb {
  background-color: #0e0e0e;
}

.theme-dark .widget-area .widget_drove_posts_thumb .post-box {
  background-color: var(--black-color);
}

.theme-dark .widget-area .widget_drove_posts_thumb .post-content h4 a {
  color: var(--main-color);
}

.theme-dark .widget-area .widget_drove_posts_thumb .post-content span {
  color: var(--white-color);
}

.theme-dark .widget-area .widget_categories {
  background-color: #0e0e0e;
}

.theme-dark .widget-area .widget_categories .categories-list li a {
  background-color: var(--black-color);
  color: var(--white-color);
}

.theme-dark .widget-area .widget_categories .categories-list li a:hover {
  color: var(--main-color);
}

.theme-dark .widget-area .widget_categories .categories-list li a:hover span {
  color: var(--main-color);
}

.theme-dark .widget-area .widget_tag_cloud {
  background-color: #0e0e0e;
}

.theme-dark .widget-area .tagcloud a {
  background: var(--black-color);
  color: var(--white-color);
}

.theme-dark .widget-area .tagcloud a:hover, .theme-dark .widget-area .tagcloud a:focus {
  color: var(--white-color);
  background-color: var(--main-color);
}

.theme-dark .portfolio-details-desc .portfolio-desc-quote {
  background: #0e0e0e;
}

.theme-dark .portfolio-details-desc .portfolio-desc-quote p {
  color: var(--white-color);
}

.theme-dark .appointment-form-wrap .appointment-form {
  background-color: #0e0e0e;
}

.theme-dark .appointment-form-wrap .appointment-form .form-group label {
  color: var(--white-color);
}

.theme-dark .appointment-form-wrap .appointment-form .form-group .form-control {
  border-bottom: 1px solid var(--black-color);
  color: var(--white-color);
}

.theme-dark .appointment-form-wrap .appointment-form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .appointment-form-wrap .appointment-form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .appointment-form-wrap .appointment-form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .appointment-form-wrap .appointment-form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .appointment-form-wrap .appointment-form .form-group .form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-bottom: 1px solid var(--main-color);
}

.theme-dark .appointment-form-wrap .appointment-form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .appointment-form-wrap .appointment-form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .appointment-form-wrap .appointment-form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .appointment-form-wrap .appointment-form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .appointment-form-wrap .appointment-form .form-group .selectize-input {
  border-bottom: 1px solid var(--black-color);
  color: var(--white-color);
}

.theme-dark .appointment-form-wrap .appointment-form .form-group .selectize-input:after {
  color: var(--main-color);
}

.theme-dark .appointment-form-image .square-pattern {
  background: #0e0e0e;
}

.theme-dark .working-process-area.bg-f4fbf9 {
  background-color: #0e0e0e;
}

.theme-dark .faq-accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.theme-dark .faq-accordion .accordion-item .accordion-button {
  color: var(--white-color);
}

.theme-dark .faq-accordion .accordion-item .accordion-button:not(.collapsed) {
  color: var(--main-color);
}

.theme-dark .faq-accordion .accordion-item .accordion-body p a {
  color: var(--main-color);
}

.theme-dark .faq-accordion .accordion-item .accordion-body p strong {
  color: var(--white-color);
}

.theme-dark .contact-form-area {
  background-color: #0e0e0e;
}

.theme-dark .contact-form-wrap {
  background-color: var(--black-color);
}

.theme-dark .contact-form-wrap .form-group label {
  color: var(--white-color);
}

.theme-dark .contact-form-wrap .form-group .form-control {
  border-bottom: 1px solid #0e0e0e;
  color: var(--white-color);
}

.theme-dark .contact-form-wrap .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .contact-form-wrap .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .contact-form-wrap .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .contact-form-wrap .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .contact-form-wrap .form-group .form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-bottom: 1px solid #0e0e0e;
}

.theme-dark .contact-form-wrap .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .contact-form-wrap .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .contact-form-wrap .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .contact-form-wrap .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .contact-form-wrap .form-group .selectize-input {
  border-bottom: 1px solid var(--black-color);
  color: var(--white-color);
}

.theme-dark .contact-form-wrap .form-group .selectize-input:after {
  color: var(--main-color);
}

.theme-dark .partner-area.bg-f4fbf9 {
  background-color: #0e0e0e;
}

.theme-dark .sign-in-form {
  background-color: #0e0e0e;
}

.theme-dark .sign-in-form h2 {
  border-bottom: 1px solid var(--black-color);
}

.theme-dark .sign-in-form form .form-group label {
  color: var(--white-color);
}

.theme-dark .sign-in-form form .form-group .form-control {
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--black-color);
}

.theme-dark .sign-in-form form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .sign-in-form form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .sign-in-form form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .sign-in-form form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .sign-in-form form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .sign-in-form form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .sign-in-form form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .sign-in-form form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .sign-in-form form .remember-me-wrap a {
  color: var(--white-color);
}

.theme-dark .sign-in-form form .remember-me-wrap [type="checkbox"]:checked + label, .theme-dark .sign-in-form form .remember-me-wrap [type="checkbox"]:not(:checked) + label {
  color: var(--white-color);
}

.theme-dark .sign-in-form form .lost-your-password-wrap a {
  color: var(--white-color);
}

.theme-dark .sign-in-form form .account-text span {
  color: var(--white-color);
}

.theme-dark .sign-in-form form .account-text span a {
  color: var(--main-color);
}

.theme-dark .sign-up-form {
  background-color: #0e0e0e;
}

.theme-dark .sign-up-form h2 {
  border-bottom: 1px solid var(--black-color);
}

.theme-dark .sign-up-form form .form-group label {
  color: var(--white-color);
}

.theme-dark .sign-up-form form .form-group .form-control {
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--black-color);
}

.theme-dark .sign-up-form form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .sign-up-form form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .sign-up-form form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .sign-up-form form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .sign-up-form form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .sign-up-form form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .sign-up-form form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .sign-up-form form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .sign-up-form form .account-text span {
  color: var(--white-color);
}

.theme-dark .sign-up-form form .account-text span a {
  color: var(--main-color);
}

.theme-dark .sign-up-form form .description {
  color: var(--white-color);
}

.theme-dark .cart-table table {
  margin-bottom: 0;
}

.theme-dark .cart-table table thead tr {
  border-bottom: 1px solid #0e0e0e;
}

.theme-dark .cart-table table thead tr th {
  color: var(--white-color);
}

.theme-dark .cart-table table tbody tr {
  border-bottom: 1px solid #0e0e0e;
}

.theme-dark .cart-table table tbody tr:last-child {
  border-bottom: none;
}

.theme-dark .cart-table table tbody tr td {
  color: var(--white-color);
}

.theme-dark .cart-table table tbody tr td.product-name a {
  color: var(--white-color);
}

.theme-dark .cart-table table tbody tr td.product-name a:hover {
  color: var(--main-color);
}

.theme-dark .cart-table table tbody tr td.product-price .unit-amount {
  color: var(--white-color);
}

.theme-dark .cart-table table tbody tr td.product-subtotal .subtotal-amount {
  color: var(--white-color);
}

.theme-dark .cart-table table tbody tr td.subtotal-text {
  color: var(--white-color);
}

.theme-dark .cart-table table tbody tr td.subtotal-text span {
  color: var(--white-color);
}

.theme-dark .cart-shopping-coupon-code .form-control {
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
  color: var(--white-color);
}

.theme-dark .cart-shopping-coupon-code .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .cart-shopping-coupon-code .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .cart-shopping-coupon-code .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .cart-shopping-coupon-code .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .cart-shopping-coupon-code .default-btn {
  background-color: var(--main-color);
}

.theme-dark .cart-totals h3 {
  border-bottom: 1px solid #0e0e0e;
}

.theme-dark .cart-totals ul li {
  border-bottom: 1px solid #0e0e0e;
  color: var(--white-color);
}

.theme-dark .cart-totals ul li span {
  color: var(--white-color);
}

.theme-dark .cart-totals ul li strong {
  color: var(--white-color);
}

.theme-dark .cart-totals ul li:last-child {
  border-bottom: none;
}

.theme-dark .wishlist-table table {
  margin-bottom: 0;
}

.theme-dark .wishlist-table table thead tr {
  border: 1px solid #0e0e0e;
}

.theme-dark .wishlist-table table thead tr th {
  border-bottom: 1px solid #0e0e0e;
  color: var(--white-color);
}

.theme-dark .wishlist-table table tbody tr {
  border: 1px solid #0e0e0e;
}

.theme-dark .wishlist-table table tbody tr td {
  border-bottom: 1px solid #0e0e0e;
  color: var(--white-color);
}

.theme-dark .wishlist-table table tbody tr td.product-thumbnail a {
  color: var(--white-color);
}

.theme-dark .wishlist-table table tbody tr td.product-name a {
  color: var(--white-color);
}

.theme-dark .wishlist-table table tbody tr td.product-price .unit-amount {
  color: var(--white-color);
}

.theme-dark .wishlist-table table tbody tr td.subtotal-text {
  color: var(--white-color);
}

.theme-dark .wishlist-table table tbody tr td.subtotal-text span {
  color: var(--white-color);
}

.theme-dark .checkout-order-content h3 {
  border-bottom: 1px solid #0e0e0e;
}

.theme-dark .checkout-order-content ul li {
  border-bottom: 1px solid #0e0e0e;
  color: var(--white-color);
}

.theme-dark .checkout-order-content ul li span {
  color: var(--white-color);
}

.theme-dark .checkout-order-content ul li strong {
  color: var(--white-color);
}

.theme-dark .checkout-order-content ul li:last-child {
  border-bottom: none;
}

.theme-dark .checkout-optional-text h3 {
  border-bottom: 1px solid #0e0e0e;
}

.theme-dark .checkout-area .sign-in-form {
  background-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  max-width: unset;
  text-align: left;
  padding: 0;
}

.theme-dark .checkout-area .sign-in-form form .form-group .form-control {
  border: 1px solid #0e0e0e;
}

.theme-dark .single-product-content .products-meta {
  border-bottom: 1px solid #0e0e0e;
}

.theme-dark .single-product-content .products-meta li {
  color: var(--white-color);
}

.theme-dark .single-product-content .products-meta li span {
  color: var(--white-color);
}

.theme-dark .single-product-content .product-btn .default-btn {
  background-color: var(--main-color);
}

.theme-dark .single-product-tabs .nav .nav-item .nav-link {
  color: var(--white-color);
  background-color: #0e0e0e;
}

.theme-dark .single-product-tabs .nav .nav-item .nav-link.active {
  background-color: var(--main-color);
  color: var(--white-color);
}

.theme-dark .single-product-tabs .tab-content .tab-pane .products-meta li {
  color: var(--white-color);
}

.theme-dark .single-product-tabs .tab-content .tab-pane .products-meta li span {
  color: var(--white-color);
}

.theme-dark .single-product-tabs .tab-content .tab-pane .products-reviews .rating-count span {
  color: var(--white-color);
}

.theme-dark .single-product-tabs .tab-content .tab-pane .products-reviews .rating span {
  color: var(--white-color);
}

.theme-dark .single-product-tabs .tab-content .tab-pane .products-reviews .rating span.checked {
  color: orange;
}

.theme-dark .single-product-tabs .tab-content .tab-pane .products-review-comments .user-review span {
  color: var(--white-color);
}

.theme-dark .single-product-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control {
  color: var(--white-color);
  background-color: #0e0e0e;
}

.theme-dark .single-product-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .single-product-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .single-product-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .single-product-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .single-product-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .single-product-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .single-product-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .single-product-tabs .tab-content .tab-pane .review-form-wrapper form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .single-product-tabs .tab-content .tab-pane .review-form-wrapper form .rating label:before {
  color: var(--white-color);
}

.theme-dark .single-product-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:checked + label, .theme-dark .single-product-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:not(:checked) + label {
  color: var(--white-color);
}

.theme-dark .terms-of-service-content .blockquote, .theme-dark .terms-of-service-content blockquote {
  background-color: #0e0e0e;
}

.theme-dark .terms-of-service-content ol li, .theme-dark .terms-of-service-content ul li {
  color: var(--white-color);
}

.theme-dark .privacy-policy-content .blockquote, .theme-dark .privacy-policy-content blockquote {
  background-color: #0e0e0e;
}

.theme-dark .privacy-policy-content ol li, .theme-dark .privacy-policy-content ul li {
  color: var(--white-color);
}

.theme-dark .coming-soon-content {
  background-color: var(--black-color);
}

.theme-dark .contact-information-card {
  background-color: #0e0e0e;
}

.theme-dark .blog-details-desc .article-content .entry-meta li {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-content .blog-desc-quote {
  background: #0e0e0e;
}

.theme-dark .blog-details-desc .article-content .blog-desc-quote p {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-comments .comments-list span {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form {
  background-color: #0e0e0e;
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group label {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control {
  border-bottom: 1px solid var(--black-color);
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-bottom: 1px solid var(--main-color);
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-leave-comment form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .navbar-area-with-boxed .main-navbar .navbar {
  background-color: #1F1F22;
  border: 1px solid var(--black-color);
}

.theme-dark .navbar-area-with-boxed.is-sticky .main-navbar .navbar {
  border: none;
  background-color: transparent;
}

.theme-dark .four-banner-area {
  background-color: #0e0e0e;
}

.theme-dark .four-banner-white-bg-shape img {
  -webkit-filter: brightness(0.1);
          filter: brightness(0.1);
}

.theme-dark .four-about-content .about-inner-card {
  background-color: #0e0e0e;
}

.theme-dark .four-about-content .about-inner-card:hover {
  background-color: var(--main-color);
}

.theme-dark .funfact-wrap-inner-box {
  background-color: #0e0e0e;
}

.theme-dark .services-wrap-card {
  background-color: #0e0e0e;
}

.theme-dark .services-wrap-card .services-content .default-btn {
  color: var(--white-color) !important;
}

.theme-dark .choose-wrap-inner-card {
  background-color: #0e0e0e;
}

.theme-dark .choose-wrap-inner-card:hover {
  background-color: var(--main-color);
}

.theme-dark .project-wrap-area {
  background-color: #0e0e0e;
}

.theme-dark .project-wrap-area::before {
  background-color: var(--black-color);
}

.theme-dark .project-wrap-area::after {
  background-color: var(--black-color);
}

.theme-dark .project-wrap-card .content h3 a {
  color: var(--black-color) !important;
}

.theme-dark .project-wrap-card .content h3 a:hover {
  color: var(--main-color) !important;
}

.theme-dark .testimonials-wrap-card {
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .testimonials-wrap-card:hover {
  border: 1px solid var(--main-color);
}

.theme-dark .blog-wrap-card {
  background: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .blog-wrap-card span {
  background-color: var(--main-color);
  color: var(--white-color);
}

.theme-dark .blog-wrap-card .entry-meta li {
  color: var(--white-color);
}

.theme-dark .blog-wrap-card:hover {
  border: 1px solid var(--main-color);
}

.theme-dark .newsletter-wrap-area::before {
  background-color: #0e0e0e;
}

.theme-dark .newsletter-wrap-inner-box {
  background-color: var(--main-color);
}

.theme-dark .newsletter-wrap-inner-box .newsletter-form button {
  background-color: var(--optional-color);
}

.theme-dark .newsletter-wrap-inner-box .newsletter-form button:hover {
  background-color: var(--black-color);
}

.theme-dark .newsletter-wrap-information i {
  color: var(--white-color);
}

.theme-dark .newsletter-wrap-information span {
  color: var(--white-color);
}

.theme-dark .five-banner-area::before {
  background-color: var(--black-color);
  opacity: .90;
}

.theme-dark .funfact-wrap-area.with-before-color::before {
  background-color: #1F1F22;
}

.theme-dark .services-wrap-area.with-bg-color {
  background-color: #1F1F22;
}

.theme-dark .services-wrap-area.with-bg-color .services-wrap-card .services-content .default-btn {
  color: var(--white-color) !important;
}

.theme-dark .free-quote-form {
  background-color: var(--black-color);
}

.theme-dark .choose-us-wrap-area.with-bg-image::before {
  background-color: var(--black-color);
  opacity: .95;
}

.theme-dark .choose-us-wrap-content .list li {
  color: var(--white-color);
}

.theme-dark .partner-wrap-area::before {
  background-color: #1F1F22;
}

.theme-dark .pricing-wrap-area {
  background-color: #1F1F22;
}

.theme-dark .pricing-wrap-table {
  background: #0e0e0e;
}

.theme-dark .pricing-wrap-table .pricing-header h3 {
  color: var(--white-color);
}

.theme-dark .pricing-wrap-table .pricing-header span {
  color: var(--white-color);
}

.theme-dark .pricing-wrap-table .price {
  color: var(--white-color);
}

.theme-dark .pricing-wrap-table .price span {
  color: var(--white-color);
}

.theme-dark .pricing-wrap-table .features-list li {
  color: var(--white-color);
}

.theme-dark .pricing-wrap-table .pricing-btn {
  margin-top: 25px;
}

.theme-dark .pricing-wrap-table .pricing-btn .default-btn {
  color: var(--white-color) !important;
}

.theme-dark .pricing-wrap-table:hover {
  background-color: var(--black-color);
}

.theme-dark .blog-wrap-item {
  background: #0e0e0e;
}

.theme-dark .blog-wrap-item .blog-content .entry-meta li {
  color: var(--white-color);
}

.theme-dark .blog-wrap-item .blog-content .default-btn {
  color: var(--white-color) !important;
}

.theme-dark .navbar-area-with-white-color .main-navbar {
  background-color: #0e0e0e;
}

.theme-dark .schedule-form-area::before {
  background: #1F1F22;
}

.theme-dark .schedule-form-inner-box {
  background-color: #0e0e0e;
}

.theme-dark .six-about-area::before {
  background: #1F1F22;
}

.theme-dark .six-about-content .about-inner-card {
  background-color: #0e0e0e;
}

.theme-dark .six-about-content .about-inner-card:hover {
  background-color: var(--main-color);
}

.theme-dark .funfact-wrap-card.with-boxed p {
  color: var(--white-color);
}

.theme-dark .services-wrap-item {
  background-color: #0e0e0e;
}

.theme-dark .services-wrap-item:hover {
  background-color: var(--main-color);
}

.theme-dark .choose-us-wrap-area.with-before-color::before {
  background: #1F1F22;
}

.theme-dark .steps-area.with-bg-color {
  background-color: #0e0e0e;
}

.theme-dark .testimonials-wrap-area.with-before-color::before {
  background: #1F1F22;
}

@media only screen and (max-width: 767px) {
  .theme-dark .navbar-area {
    background-color: var(--black-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal {
    color: var(--white-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal span {
    background: var(--white-color);
  }
  .theme-dark .others-option-for-responsive .dot-menu .inner .circle {
    background-color: var(--white-color);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .theme-dark .navbar-area {
    background-color: var(--black-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal {
    color: var(--white-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal span {
    background: var(--white-color);
  }
  .theme-dark .others-option-for-responsive .dot-menu .inner .circle {
    background-color: var(--white-color);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .theme-dark .navbar-area {
    background-color: var(--black-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal {
    color: var(--white-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal span {
    background: var(--white-color);
  }
  .theme-dark .others-option-for-responsive .dot-menu .inner .circle {
    background-color: var(--white-color);
  }
}
/*# sourceMappingURL=dark.css.map */